<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Волшебные формулы</title>
</head>
<body>
    <h1>Волшебные формулы</h1>

    <p>
        (x + y)<sup>3</sup> = x<sup>3</sup> + 3x<sup>2</sup>y + 3xy<sup>2</sup> + y<sup>3</sup>
    </p>

    <p>
        &#916;x<sub>1</sub> + &#916;x<sub>2</sub> + &#8230; + &#916;x<sub>n</sub> = &#8721;&#916;x<sub>k</sub>
    </p>

    <p>
        Если &#8704; x &#8712; &#8477; такого, что |x| &#8804; 1 &#8707; y &#8805; 1, то &#958; < &#8734;
    </p>

    <hr width='600px' align='left'>

    <footer>
        <p>@ www.itmathvegetitor.ru</p>
    </footer>
</body>
</html>
